<html lang="en" >
<head>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="js/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/searchresults.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
    <style>
        md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused .md-input, md-input-container:not(.md-input-invalid).md-input-focused .md-input, md-input-container.md-default-theme:not(.md-input-invalid).md-input-resized .md-input, md-input-container:not(.md-input-invalid).md-input-resized .md-input {
            border-color: darkgray;
        }

        label {
            color: darkgray;
        }

        md-select.md-default-theme:not([disabled]):focus ._md-select-value, md-select:not([disabled]):focus ._md-select-value {
            border-bottom-color: darkgray;
        }

        md-checkbox.md-default-theme:not([disabled]).md-warn.md-checked .md-ink-ripple, md-checkbox:not([disabled]).md-warn.md-checked .md-ink-ripple {
            color: #2b2b2b;
        }

        md-checkbox.md-default-theme:not([disabled]).md-warn.md-checked ._md-icon, md-checkbox:not([disabled]).md-warn.md-checked ._md-icon {
            background-color: #2b2b2b;
        }
        md-card.md-default-theme, md-card{
            background-color: transparent;
            border:0px;
        }
        md-toolbar{
            background-color: yellow;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
    <script language="javascript">
        angular
                .module('firstApplication', ['ngMaterial'])
                .controller('autoCompleteController', autoCompleteController);

        function autoCompleteController ($scope, $timeout, $q, $log,$mdSidenav, $log, $http) {
            var self = this;
            self.simulateQuery = false;
            self.isDisabled    = false;
            // list of states to be displayed
            self.states        = loadStates();
            self.querySearch   = querySearch;
            self.selectedItemChange = selectedItemChange;
            self.searchTextChange   = searchTextChange;
            self.newState = newState;
            function newState(state) {
                alert("This functionality is yet to be implemented!");
            }
            function querySearch (query) {
                var results = query ? self.states.filter( createFilterFor(query) ) : self.states, deferred;
                if (self.simulateQuery) {
                    deferred = $q.defer();
                    $timeout(function () {
                        deferred.resolve( results );
                    },
                            Math.random() * 1000, false);
                    return deferred.promise;
                } else {
                    return results;
                }
            }
            function searchTextChange(text) {
                $log.info('Text changed to ' + text);
            }
            function selectedItemChange(item) {
                $log.info('Item changed to ' + JSON.stringify(item));
            }
            //build list of states as map of key-value pairs
            function loadStates() {
                var allStates = 'Alabama, Alaska, Arizona, Arkansas, California, Colorado, Connecticut, Delaware,\
                 Florida, Georgia, Hawaii, Idaho, Illinois, Indiana, Iowa, Kansas, Kentucky, Louisiana,\
                 Maine, Maryland, Massachusetts, Michigan, Minnesota, Mississippi, Missouri, Montana,\
                 Nebraska, Nevada, New Hampshire, New Jersey, New Mexico, New York, North Carolina,\
                 North Dakota, Ohio, Oklahoma, Oregon, Pennsylvania, Rhode Island, South Carolina,\
                 South Dakota, Tennessee, Texas, Utah, Vermont, Virginia, Washington, West Virginia,\
                 Wisconsin, Wyoming';
                return allStates.split(/, +/g).map( function (state) {
                    return {
                        value: state.toLowerCase(),
                        display: state
                    };
                });
            }
            //filter function for search query
            function createFilterFor(query) {
                var lowercaseQuery = angular.lowercase(query);
                return function filterFn(state) {
                    return (state.value.indexOf(lowercaseQuery) === 0);
                };
            }

            //dropdown list
            $scope.meal_preference = '';
            $scope.meals = ('Vegetarian, Non Vegetarian').split(',').map(function (meal) {
                return {abbrev: meal};
            });

            //singup
            $scope.signup = function () {
                var username = localStorage.getItem("username");
                var password = localStorage.getItem("password");
                var email = $scope.email;
                var mobile = $scope.mobile;
                var country = $scope.country;
                var first_name = $scope.first_name;
                var middle_name = $scope.middle_name;
                var last_name = $scope.last_name;
                var gender = $scope.gender;
                var meal_preference = $scope.meal_preference;

                if (meal_preference == "Vegetarian") {
                    meal_preference = 1;
                } else if (meal_preference == "Chicken") {
                    meal_preference = 2
                } else {
                    meal_preference = 3;
                }
                $http.jsonp("https://airticketbookingapp.herokuapp.com/users/signup/username/" + username + "/password/" + password + "/email/" + email + "/mobile/" + mobile + "/country/" + country + "/type/Passenger/firstname/" + first_name + "/middlename/" + middle_name + "/lastname/" + last_name + "/gender/" + gender + "/meal_preference/" + meal_preference + "?callback=JSON_CALLBACK")
                        .success(function (data, status, headers, config) {
                            localStorage.setItem("logged_user_id",data);
                            window.location = "signup_documents.html";
                        });
            }
        }
    </script>
</head>
<body ng-app="firstApplication" ng-cloak>
<div ng-controller="autoCompleteController as ctrl" layout="column" style="height:700px;" ng-cloak>
    <md-toolbar class="md-primary" md-scroll-shrink ng-if="true" style="background-color: yellow; color: black">
        <h1 class="md-toolbar-tools">Login</h1>
    </md-toolbar>
    <section layout="row" flex>
        <md-content flex>
            <md-content style="padding-left: 20px;padding-right: 20px;" layout-fill><br>
                <form name="loginForm">
                    <md-input-container layout-fill>
                        <label>First Name</label>
                        <input required name="first_name" ng-model="first_name">
                        <div ng-messages="first_name.$error" role="alert">
                            <div ng-message-exp="['required']">
                                First Name is required.
                            </div>
                        </div>
                    </md-input-container>
                    <br>
                    <md-input-container layout-fill>
                        <label>Middle Name</label>
                        <input name="middle_name" ng-model="middle_name">
                    </md-input-container>
                    <md-input-container layout-fill>
                        <label>Last Name</label>
                        <input required name="last_name" ng-model="last_name">
                        <div ng-messages="last_name.$error" role="alert">
                            <div ng-message-exp="['required']">
                                Last Name is required.
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container layout-fill>
                        <md-radio-group ng-model="gender">
                            <md-radio-button value="1" class="md-primary">Male</md-radio-button>
                            <md-radio-button value="2"> Female </md-radio-button>
                        </md-radio-group>
                    </md-input-container>
                    <md-input-container layout-fill>
                        <label>Email</label>
                        <input required type="email" name="email" ng-model="email">
                        <div ng-messages="email.$error" role="alert">
                            <div ng-message-exp="['required']">
                                Email is required.
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container layout-fill>
                        <label>Mobile</label>
                        <input required name="mobile" ng-model="mobile">
                        <div ng-messages="mobile.$error" role="alert">
                            <div ng-message-exp="['required']">
                                Password is required.
                            </div>
                        </div>
                    </md-input-container>
                    <md-autocomplete
                            ng-disabled="ctrl.isDisabled"
                            md-no-cache="ctrl.noCache"
                            md-selected-item="ctrl.selectedItem"
                            md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
                            md-search-text="ctrl.searchText"
                            md-selected-item-change="ctrl.selectedItemChange(item)"
                            md-items="item in ctrl.querySearch(ctrl.searchText)"
                            md-item-text="item.display"
                            md-min-length="0"
                            placeholder="US State?">
                        <md-item-template>
                            <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
                        </md-item-template>
                        <md-not-found>
                            No states matching "{{ctrl.searchText}}" were found.
                            <a ng-click="ctrl.newState(ctrl.searchText)">Create a new one!</a>
                        </md-not-found>
                    </md-autocomplete>
                    </md-input-container>
                    <md-select ng-model="meal_preference">
                        <md-option ng-repeat="meal in meals" ng-value="meal.abbrev">
                            {{meal.abbrev}}
                        </md-option>
                    </md-select>
                    <div align="center">
                        <md-button type="submit" class="md-accent md-raised" ng-click="signup()" style="background-color: #0c0c0c;">Sign Up</md-button>
                    </div>
                </form>
            </md-content>
            </md-content>
        </section>
</div>
</body>
</html>